node_modules/
**/node_modules/
dist/
.env
.svelte-kit/
backend/main.exe
backend/main
backend/main-linux
backend/*.exe
backend/*.log
frontend/*.log
node_modules
deployment.md
deploy/
*.env.production
lmq-deploy.tar.gz
frontend/build/
